DB_USER=db-user
DB_PASSWORD=db-password
DB_NAME=db-name
dsn=host=host user=user password=password dbname=dbname port=5432 sslmode=disable

REDIS_ADDR=redis:6379
REDIS_PASSWORD=

JWT_SECRET=YourSuperSecretKey
QR_SECRET=YourSuperSecretKey

DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASS=admin123
DEFAULT_ADMIN_MAIL=mail@example.com

DEVTV_DSN=host=devtv-hostname user=devtv-hostname password=devtv-password dbname=devtv-dbname port=5432 sslmode=disable